.nav {
  display: block;
  position: fixed;
  background-color: var(--secondary-color);
  width: 100%;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16);
}

.navbar {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  margin: 0.5rem 1rem;
}
.logo {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-grow: 1;
  color: var(--white);
  margin-left: var(--margin-2);
}
.logo > img {
  height: 4rem;
  width: 4rem;
}
.logo > h2 {
  margin-left: var(--margin-2);
}

.search {
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* background-color: #d4d4d4; */
  border: 2px solid var(--white);
  border-radius: var(--radius);
  width: 18rem;
  height: 2rem;
}

.search-icon {
  margin: 0.5rem;
  color: var(--white);
}
.search > input {
  background-color: transparent;
  outline: none;
  border: none;
  width: 100%;
}

.search > input:focus {
  outline: none;
}

.search > input::placeholder {
  color: var(--white);
}
.inline-links > li {
  display: inline-block;
  list-style-type: none;
  margin: 0.25rem 0.75rem;
}
.icon-links {
  text-decoration: none;
  cursor: pointer;
  color: var(--white);
  font-size: var(--fontSize-2);
}
