.container {
  width: 40rem;
}

.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
  display: block;
  font-weight: 600;
}
.h1 {
  font-size: 2em;
  margin: 0.63em;
}
.h2 {
  font-size: 1.5em;
  margin: 0.83em;
}
.h3 {
  font-size: 1.17em;
  margin: 1em;
}
.h4 {
  font-size: 1em;
  margin: 1em;
}
.h5 {
  font-size: 0.83em;
  margin: 1.3em;
}
.h6 {
  font-size: 0.67em;
  margin: 1.6em;
}

.p {
  font-size: 1rem;
  margin: 0.25rem;
  padding: 0.25rem;
}

.text-center {
  text-align: center;
}
.text-left {
  text-align: left;
}
.text-right {
  text-align: right;
}
.text-justify {
  text-align: justify;
}

.text-strike {
  text-decoration: line-through;
}
.text-underline {
  text-decoration: underline;
}
.text-bold {
  font-weight: 700;
}
.text-light {
  font-weight: 300;
}
.text-regular {
  font-weight: 500;
}
.text-small {
  font-size: 0.875rem;
}
.text-grey {
  color: var(--grey);
}
.text-white {
  color: var(--white);
}
.text-primary {
  color: var(--primary-color);
}
.text-secondary {
  color: var(--secondary-color);
}
.text-warning {
  color: var(--warning-color);
}
.text-danger {
  color: var(--danger-color);
}
