@import url("https://fonts.googleapis.com/css2?family=Arvo&display=swap");

html {
  box-sizing: border-box;
  font-family: "Arvo", serif;
  font-size: 100%;
}

*,
*::after,
*::before {
  box-sizing: inherit;
  font-family: inherit;
  margin: 0;
  padding: 0;
  color: inherit;
}

body {
  background-color: var(--bg-color);
  min-height: 100vh;
  width: 100%;
}

:root {
  --primary-color: #36a5ff;
  --secondary-color: #6b39ff;
  --success-color: #42ff85;
  --danger-color: #ef4b4b;
  --warning-color: #f5b314;
  --primary-bgcolor: #b5deff;
  --secondary-bgcolor: #cab8ff;
  --success-bgcolor: #c1ffd7;
  --danger-bgcolor: #f9c0c0;
  --warning-bgcolor: #fcffa6;
  --padding: 0px;
  --margin: 0px;
  --padding-xs: 1rem;
  --margin-xs: 1rem;
  --padding-sm: 1.25rem;
  --margin-sm: 1.25rem;
  --padding-md: 1.5em;
  --margin-md: 1.5rem;
  --padding-lg: 1.75rem;
  --margin-lg: 1.75rem;
  --fontSize: 1rem;
  --radius: 0.25rem;
}
