<html>
  <head>
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="author" content="Khyati Baria" />
    <meta
      name="description"
      content="PixelUI - A CSS Component Library for building Clean, Modern UI Interfaces"
    />
    <title>Card Component</title>
    <link rel="stylesheet" type="text/css" href="card.css" />
    <link rel="stylesheet" type="text/css" href="../button/button.css" />
    <link rel="stylesheet" type="text/css" href="../../docs-css/variable.css" />
    <script
      src="https://kit.fontawesome.com/99b4ab4b7a.js"
      crossorigin="anonymous"
    ></script>
  </head>

  <body>
    <!-- Standard Card -->
    <div class="card">
      <div class="card-header">
        <img
          class="card-image"
          src="https://images-na.ssl-images-amazon.com/images/I/71aFt4+OTOL.jpg"
        />
      </div>
      <div class="card-body">
        <div class="card-text">
          <div class="card-title">The Alchemist</div>
          <div class="card-subtitle">By Panlo Coelho</div>
          <div>Rs.899/-</div>
        </div>
        <div class="card-footer">
          <button class="card-button">Add to Cart</button>
          <button class="wishlist-btn" title="Add to favorites">
            <i class="fas fa-heart fa-2x"></i>
          </button>
        </div>
      </div>
    </div>

    <!-- Card with Badge -->
    <div class="card">
      <div class="card-header">
        <div class="card-badge">BestSeller</div>
        <img
          class="card-image"
          src="https://images-na.ssl-images-amazon.com/images/I/71aFt4+OTOL.jpg"
        />
      </div>
      <div class="card-body">
        <div class="card-text">
          <div class="card-title">The Alchemist</div>
          <div class="card-subtitle">By Panlo Coelho</div>
          <div>Rs.899/-</div>
        </div>
        <div class="card-footer">
          <button class="card-button">Add to Cart</button>
          <button class="wishlist-btn" title="Add to favorites">
            <i class="fas fa-heart fa-2x"></i>
          </button>
        </div>
      </div>
    </div>

    <!-- Card with close button -->
    <div class="card">
      <div class="card-header">
        <div class="card-close"><i class="fas fa-times"></i></div>
        <img
          class="card-image"
          src="https://images-na.ssl-images-amazon.com/images/I/71aFt4+OTOL.jpg"
        />
      </div>
      <div class="card-body">
        <div class="card-text">
          <div class="card-title">The Alchemist</div>
          <div class="card-subtitle">By Panlo Coelho</div>
          <div>Rs.899/-</div>
        </div>
        <div class="card-footer">
          <button class="card-button">Add to Cart</button>
          <button class="wishlist-btn" title="Add to favorites">
            <i class="fas fa-heart fa-2x"></i>
          </button>
        </div>
      </div>
    </div>

    <!-- Card with shadow -->
    <div class="card shadow">
      <div class="card-header">
        <img
          class="card-image"
          src="https://images-na.ssl-images-amazon.com/images/I/71aFt4+OTOL.jpg"
        />
      </div>
      <div class="card-body">
        <div class="card-text">
          <div class="card-title">The Alchemist</div>
          <div class="card-subtitle">By Panlo Coelho</div>
          <div>Rs.899/-</div>
        </div>
        <div class="card-footer">
          <button class="card-button">Add to Cart</button>
          <button class="wishlist-btn" title="Add to favorites">
            <i class="fas fa-heart fa-2x"></i>
          </button>
        </div>
      </div>
    </div>

    <!-- Card with text overlay -->
    <div class="card">
      <div class="overlay">
        <div class="overlay-text">Out of Stocks</div>
      </div>
      <div class="card-header">
        <img
          class="card-image"
          src="https://images-na.ssl-images-amazon.com/images/I/71aFt4+OTOL.jpg"
        />
      </div>
      <div class="card-body">
        <div class="card-text">
          <div class="card-title">The Alchemist</div>
          <div class="card-subtitle">By Panlo Coelho</div>
          <div>Rs.899/-</div>
        </div>
        <div class="card-footer">
          <button class="card-button">Add to Cart</button>
          <button class="wishlist-btn" title="Add to favorites">
            <i class="fas fa-heart fa-2x"></i>
          </button>
        </div>
      </div>
    </div>
    <!-- Horizontal Card -->
    <div class="horizontal-card">
      <div class="horizontal-card-head">
        <div class="card-badge">BestSeller</div>
        <div class="card-close"><i class="fas fa-times"></i></div>
        <img
          class="horizontal-image"
          src="https://images-na.ssl-images-amazon.com/images/I/71aFt4+OTOL.jpg"
          alt="media"
        />
      </div>
      <div class="horizontal-card-body">
        <div class="card-text">
          <div class="card-title">The Alchemist</div>
          <div class="card-subtitle">By Panlo Coelho</div>
          <div>Rs.899/-</div>
        </div>
        <div class="card-quantity">
          <span class="quantity-label">Quantity:-</span>
          <button class="quantity-btn">
            <i class="fas fa-plus-square"></i>
          </button>
          <input class="card-input" />
          <button class="quantity-btn">
            <i class="fas fa-minus-square"></i>
          </button>
        </div>
        <button class="horizontal-card-btn danger">Move to Wishlist</button>
        <button class="horizontal-card-btn warning">Remove from Cart</button>
      </div>
    </div>
  </div>
   </body>
  </body>
</html>
