<html>
<head>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="author" content="Khyati Baria" />
    <meta name="description" content="PixelUI - A CSS Component Library for building Clean, Modern UI Interfaces" />
    <title>Card Component</title>
    <link rel="stylesheet" type="text/css" href="card.css" />
    <link rel="stylesheet" type="text/css" href="../../docs-css/variable.css" />
    <script src="https://kit.fontawesome.com/99b4ab4b7a.js" crossorigin="anonymous"></script>
</head>

<body>
    <div class="card-container">
        <!-- Standard Card -->
        <div class="card">
            <div class="card-head">
                <img class="card-image" src="https://images-na.ssl-images-amazon.com/images/I/71aFt4+OTOL.jpg" />
            </div>
            <div class="card-body">
                <div class="card-title">
                    <h3>The Alchemist</h3>
                    <small>By Panlo Coelho</small>
                </div>
                <button class="icon-button" title="Add to favorites">
                    <i class="fas fa-heart fa-2x"></i>
                </button>
            </div>
            <div class="card-text">Rs.899/-</div>
            <div class="card-footer">
                <button class="card-button">
                    <i class="fa fa-cart-plus" aria-hidden="true"></i>
                    <span>Add to Cart</span>
                </button>
            </div>
        </div>
        <!-- Card with Badge -->
        <div class="card">
            <div class="card-badge">BestSeller</div>
            <div class="card-head">
                <img class="card-image" src="https://images-na.ssl-images-amazon.com/images/I/71aFt4+OTOL.jpg" />
            </div>
            <div class="card-body">
                <div class="card-title">
                    <h3>The Alchemist</h3>
                    <small>By Panlo Coelho</small>
                </div>
                <button class="icon-button" title="Add to favorites">
                    <i class="fas fa-heart fa-2x"></i>
                </button>
            </div>
            <div class="card-text">Rs.899/-</div>
            <div class="card-footer">
                <button class="card-button">
                    <i class="fa fa-cart-plus" aria-hidden="true"></i>
                    <span>Add to Cart</span>
                </button>
            </div>
        </div>
        <!-- Card with close button -->
        <div class="card">
            <div class="card-badge">BestSeller</div>
            <div class="close"><i class="fas fa-times"></i></div>
            <div class="card-head">
                <img class="card-image" src="https://images-na.ssl-images-amazon.com/images/I/71aFt4+OTOL.jpg" />
            </div>
            <div class="card-body">
                <div class="card-title">
                    <h3>The Alchemist</h3>
                    <small>By Panlo Coelho</small>
                </div>
                <button class="icon-button" title="Add to favorites">
                    <i class="fas fa-heart fa-2x"></i>
                </button>
            </div>
            <div class="card-text">Rs.899/-</div>
            <div class="card-footer">
                <button class="card-button">
                    <i class="fa fa-cart-plus" aria-hidden="true"></i>
                    <span>Add to Cart</span>
                </button>
            </div>
        </div>
        <!-- Card with no media margin -->
        <div class="card">
            <div class="card-badge">BestSeller</div>
            <div class="close"><i class="fas fa-times"></i></div>
            <div class="card-head-max">
                <img class="card-image-max" src="https://images-na.ssl-images-amazon.com/images/I/71aFt4+OTOL.jpg" />
            </div>
            <div class="card-body">
                <div class="card-title">
                    <h3>The Alchemist</h3>
                    <small>By Panlo Coelho</small>
                </div>
                <button class="icon-button" title="Add to favorites">
                    <i class="fas fa-heart fa-2x"></i>
                </button>
            </div>
            <div class="card-text">Rs.899/-</div>
            <div class="card-footer">
                <button class="card-button">
                    <i class="fa fa-cart-plus" aria-hidden="true"></i>
                    <span>Add to Cart</span>
                </button>
            </div>
        </div>
        <!-- Card with shadow -->
        <div class="card shadow">
            <div class="card-badge">BestSeller</div>
            <div class="close"><i class="fas fa-times"></i></div>
            <div class="card-head">
                <img class="card-image" src="https://images-na.ssl-images-amazon.com/images/I/71aFt4+OTOL.jpg" />
            </div>
            <div class="card-body">
                <div class="card-title">
                    <h3>The Alchemist</h3>
                    <small>By Panlo Coelho</small>
                </div>
                <button class="icon-button" title="Add to favorites">
                    <i class="fas fa-heart fa-2x"></i>
                </button>
            </div>
            <div class="card-text">Rs.899/-</div>
            <div class="card-footer">
                <button class="card-button">
                    <i class="fa fa-cart-plus" aria-hidden="true"></i>
                    <span>Add to Cart</span>
                </button>
            </div>
        </div>
        <!-- Horizontal Card -->
        <div class="horizontal-card">
            <div class="card-badge">BestSeller</div>
            <div class="close"><i class="fas fa-times"></i></div>
            <div class="horizontal-card-head">
                <img class="horizontal-card-img" src="https://images-na.ssl-images-amazon.com/images/I/71aFt4+OTOL.jpg"
                    alt="media" />
            </div>
            <div class="horizontal">
                <div class="horizontal-card-body">
                    <div class="card-title">
                        <h3>The Alchemist</h3>
                        <small>By Panlo Coelho</small>
                    </div>
                    <button class="icon-button" title="Add to favorites">
                        <i class="fas fa-heart fa-2x"></i>
                    </button>
                </div>
                <div class="horizontal-card-text">Rs.899/-</div>
                <div class="card-horizontal-footer">
                    <button class="card-button">
                        <i class="fa fa-cart-plus" aria-hidden="true"></i>
                        <span>Add to Cart</span>
                    </button>
                </div>
            </div>
        </div>
        <!-- Card with text overlay -->
        <div class="card">
            <div class="overlay">
                <div class="overlay-text">
                    Out of Stocks
                </div>
            </div>
            <div class="card-badge">BestSeller</div>
            <div class="close"><i class="fas fa-times"></i></div>
            <div class="card-head">
                <img class="card-image" src="https://images-na.ssl-images-amazon.com/images/I/71aFt4+OTOL.jpg" />
            </div>
            <div class="card-body">
                <div class="card-title">
                    <h3>The Alchemist</h3>
                    <small>By Panlo Coelho</small>
                </div>
                <button class="icon-button" title="Add to favorites">
                    <i class="fas fa-heart fa-2x"></i>
                </button>
            </div>
            <div class="card-text">Rs.899/-</div>
            <div class="card-footer">
                <button class="card-button">
                    <i class="fa fa-cart-plus" aria-hidden="true"></i>
                    <span>Add to Cart</span>
                </button>
            </div>
        </div>

        <!-- Card with text only -->
        <div class="text-card">
            <div class="card-head">
                <img class="card-image" src="https://images-na.ssl-images-amazon.com/images/I/71aFt4+OTOL.jpg" />
            </div>
            <div class="card-body">
                <div class="card-title">
                    <h3>The Alchemist</h3>
                    <small>By Panlo Coelho</small>
                </div>
                <button class="icon-button" title="Add to favorites">
                    <i class="fas fa-heart fa-2x"></i>
                </button>
            </div>
            <div class="card-text">
                The Alchemist is a novel by Paulo Coelho,The Alchemist follows a young Andalusian shepherd in his journey to the pyramids of Egypt, 
            after having a recurring dream of finding a treasure there.
            </div>
            <h3 class="price">Rs.299/-</h3>
            <div class="card-footer">
                <button class="card-button">
                    <i class="fa fa-cart-plus" aria-hidden="true"></i>
                    <span>Add to Cart</span>
                </button>
            </div>
        </div>
</body>

</html>