.card {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 14rem;
  height: 24rem;
  margin: 1rem;
  border-radius: 0.5rem;
  background-color: var(--light-bgcolor);
}
.card-header {
  height: 60%;
  border-top-left-radius: 0.5rem;
  border-top-right-radius: 0.5rem;
}
.card-body {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  height: 40%;
  padding: 0.5rem;
}
.card-footer {
  display: flex;
  justify-content: space-evenly;
  align-content: baseline;
}
.card-image {
  width: 12rem;
  height: 13.5rem;
  padding: 1rem;
}
.card-text {
  font-size: 1rem;
  font-weight: 600;
  padding: 0 0.25rem;
}
.card-title {
  font-size: 1.25rem;
  font-weight: 600;
}
.card-subtitle {
  font-size: 0.85rem;
  font-weight: 500;
}
.card-button {
  display: inline-block;
  cursor: pointer;
  width: 70%;
  font-weight: 600;
  border: none;
  padding: 0.5rem;
  font-size: 1rem;
  outline: none;
  background-color: var(--primary-color);
  border-radius: 2rem;
}
.wishlist-btn {
  border: none;
  outline: none;
  cursor: pointer;
  color: var(--danger-color);
  border-radius: var(--radius);
  background-color: transparent;
}
.wishlist-btn:hover {
  color: var(--danger-color);
}
.card-badge {
  position: absolute;
  top: 0.5rem;
  left: 0;
  font-size: 0.75rem;
  padding: 0.25rem 0.75rem;
  font-weight: 600;
  color: white;
  background-color: red;
  border-radius: var(--radius);
}
.card-close {
  position: absolute;
  top: 0.5rem;
  right: 0.5rem;
  z-index: 2;
}
.shadow {
  box-shadow: 8px 8px 10px var(--grey);
}
.overlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(119, 119, 119, 0.5);
  z-index: 5;
}
.overlay-text {
  position: absolute;
  margin: 0 auto;
  top: 40%;
  left: 20%;
  font-size: 1rem;
  font-weight: 600;
  padding: 0.5rem;
  background-color: var(--primary-color);
}
.text-card {
  display: flex;
  position: relative;
  flex-direction: column;
  background-color: var(--grey);
  border-radius: var(--radius);
  width: 15rem;
  height: max-content;
  margin: 1rem;
}

.text-card > .card-head {
  display: none;
}

.horizontal-card {
  position: relative;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: flex-start;
  width: 25rem;
  height: 14rem;
  margin: 0.5rem;
  border-radius: var(--radius);
}
.horizontal-card-head {
  width: 50%;
  background-color: var(--grey);
}
.horizontal-card-body {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: space-evenly;
  width: 50%;
  padding: 0.75rem;
}
.card-quantity {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  font-size: 1rem;
}
.card-input {
  outline: none;
  border: none;
  width: 10%;
  padding: 0.25rem;
  border-radius: 0.25rem;
  margin: 0.25rem;
  background-color: var(--grey);
}
.quantity-btn {
  background-color: transparent;
  outline: none;
  border: none;
  font-size: 1.25rem;
  cursor: pointer;
  margin: 0.25rem;
}
.horizontal-card-btn {
  display: inline-block;
  width: 100%;
  cursor: pointer;
  font-weight: 600;
  border: none;
  padding: 0.5rem;
  font-size: 0.85rem;
  outline: none;
  border-radius: 2rem;
}
