.card {
  display: flex;
  position: relative;
  flex-direction: column;
  justify-content: space-evenly;
  background-color: var(--primary-bgcolor);
  border-radius: var(--radius);
  width: 14rem;
  height: 26rem;
  margin: 1rem;
  padding: 1rem;
}
.full-media {
  padding: 0px;
  margin: 0px;
}
.card-image {
  align-self: center;
  border-top-left-radius: var(--radius);
  border-top-right-radius: var(--radius);
  width: 14rem;
  height: 16rem;
}
.full-image {
  border-top-left-radius: var(--radius);
  border-top-right-radius: var(--radius);
  width: 14rem;
  height: 16rem;
}
.wishlist-btn {
  position: absolute;
  top: 1.5rem;
  right: 1.25rem;
  border: none;
  outline: none;
  color: white;
  cursor: pointer;
  border-radius: var(--radius);
  background-color: transparent;
}
.wishlist-btn:hover {
  color: var(--danger-color);
}

.card-badge {
  position: absolute;
  top: 0.5rem;
  left: 0;
  font-size: 0.75rem;
  padding: 0.25rem 0.75rem;
  font-weight: 600;
  color: white;
  background-color: red;
  border-radius: var(--radius);
}

.card-close {
  position: absolute;
  top: 0.5rem;
  right: 0.5rem;
  z-index: 2;
}
.card-body {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  margin: 0.5rem;
}

.card-title {
  font-size: 1.5rem;
  font-weight: 600;
}

.card-subtitle {
  font-size: 1rem;
}

.card-text {
  font-size: 1.25rem;
  font-weight: 600;
  padding: 0.5rem;
}

.card-button {
  display: inline-block;
  cursor: pointer;
  background-color: var(--white);
  font-weight: 600;
  border: none;
  padding: 0.5rem;
  font-size: 1rem;
  outline: none;
  border-radius: var(--radius);
}

.card-button:hover {
  background-color: var(--warning-bgcolor);
}
.full-mediaBody {
  margin: 0.5rem;
}
.shadow {
  box-shadow: 8px 8px 10px var(--grey);
}

.card-fullimage {
  border-top-left-radius: var(--radius);
  border-top-right-radius: var(--radius);
  width: 15rem;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(119, 119, 119, 0.5);
  z-index: 5;
}

.overlay-text {
  position: absolute;
  top: 50%;
  left: 15%;
  font-size: 1.5rem;
  font-weight: 900;
  padding: 0.5rem;
  background-color: var(--primary-color);
}

.text-card {
  display: flex;
  position: relative;
  flex-direction: column;
  background-color: var(--primary-bgcolor);
  border-radius: var(--radius);
  width: 15rem;
  height: max-content;
  margin: 1rem;
}

.text-card > .card-head {
  display: none;
}

.horizontal-card {
  position: relative;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: flex-start;
  width: 30rem;
  height: 16rem;
  margin: 0.5rem;
  border-radius: var(--radius);
  background-color: var(--primary-bgcolor);
}

.horizontal-cardImg {
  max-width: 12rem;
  max-height: 16rem;
  border-radius: var(--radius);
}

.card-badge {
  position: absolute;
  top: 0.5rem;
  left: 0;
  font-size: 0.75rem;
  padding: 0.25rem 0.75rem;
  font-weight: 600;
  color: white;
  background-color: red;
  border-radius: var(--radius);
}
.card-close {
  position: absolute;
  top: 0.5rem;
  right: 0.5rem;
  z-index: 2;
}

.card-title {
  font-size: 1.75rem;
  font-weight: 600;
}

.card-subtitle {
  font-size: 1rem;
}
.horizontal-cardBody {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: space-around;
  align-items: baseline;
  padding: 0.5rem;
  margin: 0.5rem;
}

.horizontal-cardText {
  font-size: 1.5rem;
  font-weight: 600;
}
.horizontal-cardQuantity {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  font-size: 1rem;
}
.card-input {
  outline: none;
  border: none;
  width: 10%;
  padding: 0.25rem;
  border-radius: 0.25rem;
  margin: 0.25rem;
}
.quantity-btn {
  background-color: transparent;
  outline: none;
  border: none;
  color: white;
  font-size: 1.25rem;
  cursor: pointer;
  margin: 0.25rem;
}
.horizontal-cardBtn {
  display: inline-block;
  width: 100%;
  cursor: pointer;
  background-color: white;
  font-weight: 600;
  border: none;
  padding: 0.5rem;
  margin: 0.25rem;
  font-size: 1rem;
  outline: none;
  border-radius: var(--radius);
}

.horizontal-cardBtn:hover {
  background-color: var(--warning-bgcolor);
}
