<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="author" content="Khyati Baria" />
    <meta
      name="description"
      content="PixelUI - A CSS Component Library for building Clean, Modern UI Interfaces"
    />
    <title>Input Component</title>
    <link href="../../docs-css/variable.css" rel="stylesheet" type="text/css" />
    <link href="./input.css" rel="stylesheet" type="text/css" />
  </head>
  <body>
    <fieldset class="fieldset">
      <legend class="legend">Label</legend>
      <input class="input" />
    </fieldset>
    <fieldset class="fieldset error-border">
      <legend class="legend error">Label</legend>
      <input class="input" />
    </fieldset>
    <fieldset class="fieldset success-border">
      <legend class="legend success">Label</legend>
      <input class="input" />
    </fieldset>
  </body>
</html>
