<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="author" content="Khyati Baria" />
    <meta
      name="description"
      content="PixelUI - A CSS Component Library for building Clean, Modern UI Interfaces"
    />
    <title>Input Component</title>
    <link href="../../docs-css/variable.css" rel="stylesheet" type="text/css" />
    <link href="./input.css" rel="stylesheet" type="text/css" />
  </head>
  <body>
    <div class="input-box">
      <fieldset class="fieldset">
        <input class="input" />
        <legend class="legend"><span>Label</span></legend>
      </fieldset>
    </div>
    <div class="input-box">
      <fieldset class="fieldset success-border">
        <input class="input" />
        <legend class="legend success"><span>Label</span></legend>
      </fieldset>
    </div>
    <div class="input-box">
      <fieldset class="fieldset error-border">
        <input class="input" />
        <legend class="legend error"><span>Label</span></legend>
      </fieldset>
    </div>
  </body>
</html>
