.fieldset{
  border: 2px solid var(--primary-color);
  border-radius: 0.25rem;
  padding-left: 0.5rem;
}
.legend{
  color:var(--primary-color);
  font-size: 0.85rem;
  font-weight: 600;
  padding-left:0.25rem;
  padding-right: 0.25rem;
}
.input-box {
  margin: 0.25rem;
}
.input{
  height: 1.5rem;
  width: 100%;
  border: none;
  outline: none;
  background-color: transparent;
}
.input:focus {
  outline: none;
}
.error{
  color: var(--danger-color);
}
.error-border{
  border: 2px solid var(--danger-color);
}
.success{
  color: var(--success-color);
}
.success-border {
  border: 2px solid var(--success-color);
}

