.btn {
  display: inline-block;
  outline: none;
  background-color: transparent;
  margin: 1rem;
  padding: 0.5rem 1rem;
  color: var(--white);
  font-size: 1rem;
  border: none;
  border-radius: var(--radius);
  cursor: pointer;
}
.btn:hover {
  box-shadow: 5px 5px 5px var(--black);
}
/* Outline Button Styles */
.outline-primary {
  background-color: var(--white);
  color: var(--primary-color);
  border: solid 2px var(--primary-color);
}
.outline-primary:hover {
  color: var(--black);
  background-color: var(--primary-bgcolor);
}
.outline-secondary {
  background-color: var(--white);
  color: var(--secondary-color);
  border: solid 2px var(--secondary-color);
}
.outline-secondary:hover {
  color: var(--black);
  background-color: var(--secondary-bgcolor);
}
.outline-success {
  color: var(--success-color);
  border: solid 2px var(--success-color);
  background-color: var(--white);
}
.outline-success:hover {
  color: var(--black);
  background-color: var(--success-bgcolor);
}

.outline-warning {
  color: var(--warning-color);
  border: solid 2px var(--warning-color);
  background-color: var(--white);
}
.outline-warning:hover {
  color: var(--black);
  background-color: var(--warning-bgcolor);
}

.outline-danger {
  color: var(--danger-color);
  border: solid 2px var(--danger-color);
  background-color: var(--white);
}
.outline-danger:hover {
  color: var(--black);
  background-color: var(--danger-bgcolor);
}

/* Text Buttons */
.text {
  background-color: transparent;
  color: var(--primary-color);
  cursor: pointer;
}

.text:hover {
  box-shadow: none;
}

.small {
  margin: 0.5rem;
  padding: 0.5rem;
  font-size: 0.75rem;
}

.large {
  margin: 1rem;
  padding: 0.75rem;
  font-size: 1.25rem;
  border-radius: var(--radius);
}

.icon-btn {
  display: inline-block;
  outline: none;
  margin: 0.5rem;
  padding: 0.75rem;
  font-size: 1rem;
  border: none;
  border-radius: 50%;
  cursor: pointer;
}
.icon:hover {
  box-shadow: none;
}
.color-primary {
  color: var(--primary-color);
}
.bg-primary {
  background-color: var(--primary-bgcolor);
}
.color-secondary {
  color: var(--secondary-color);
}
.bg-secondary {
  background-color: var(--secondary-bgcolor);
}
.color-success {
  color: var(--success-color);
}
.bg-success {
  background-color: var(--success-bgcolor);
}
.color-danger {
  color: var(--danger-color);
}
.bg-danger {
  background-color: var(--danger-bgcolor);
}
.color-warning {
  color: var(--warning-color);
}
.bg-warning {
  background-color: var(--warning-bgcolor);
}
