<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="author" content="Khyati Baria" />
    <meta name="description" content="PixelUI - A CSS Component Library for building Clean, Modern UI Interfaces" />
    <title>Button Component</title>
    <link rel="stylesheet" type="text/css" href="../variables.css" />
    <link rel="stylesheet" type="text/css" href="button.css" />
    <script src="https://kit.fontawesome.com/99b4ab4b7a.js" crossorigin="anonymous"></script>
</head>

<body>
    <div class="container">
        <!-- Simple Buttons -->
        <button class="btn bg-primary">Primary</button>
        <button class="btn bg-secondary">Secondary</button>
        <button class="btn bg-success">Success</button>
        <button class="btn bg-warning">Warning</button>
        <button class="btn bg-danger">Danger</button>

        <!-- Outline Buttons -->
        <button class="btn outline-primary">Primary</button>
        <button class="btn outline-secondary">Secondary</button>
        <button class="btn outline-success">Success</button>
        <button class="btn outline-warning">Warning</button>
        <button class="btn outline-danger">Warning</button>

        <!-- Text Buttons -->
        <button class="btn text">Primary</button>
        <button class="btn text color-secondary">Secondary</button>
        <button class="btn text color-success">Success</button>
        <button class="btn text color-warning">Warning</button>
        <button class="btn text color-danger">Danger</button>

        <!--  Buttons with Icon -->
        <button class="btn bg-primary">
            <span class="fa fa-trash"></span>
            Delete
        </button>
        <button class="btn bg-secondary">
            <i class="fa fa-cart-plus" aria-hidden="true"></i>
            <span>Add to cart</span>
        </button>

        <!-- Small Button -->
        <button class="btn small bg-primary">Small</button>

        <!-- Large Button -->
        <button class="btn large bg-primary">Large</button>

        <!-- Floating Action Button -->
        <button class="btn icon  bg-success">
            <span><i class="fas fa-plus"></i>
            </span>
        </button>
        <button class="btn icon  bg-secondary">
            <span><i class="fas fa-trash-alt"></i>
            </span>
        </button>
        <button class="btn icon  bg-warning">
            <span><i class="fas fa-pen"></i>
            </span>
        </button>
    </div>
    </div>
</body>
</html>
