<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="author" content="Khyati Baria" />
    <meta name="description" content="PixelUI - A CSS Component Library for building Clean, Modern UI Interfaces" />
    <title>Avatar Component</title>
    <link href="../image/image.css" rel="stylesheet" type="text/css" />
    <link href="avatar.css" rel="stylesheet" type="text/css" />
    <link href="../../docs-css/variable.css" rel="stylesheet" type="text/css" />
</head>
<body>
        <figure class="avatar">
            <img class="img-responsive img-rounded" src="../assets/avatar1.svg" alt="avatar" />
        </figure>
        <figure class="avatar-sm">
            <img class="img-responsive img-rounded" src="../assets/avatar2.svg" alt="avatar" />
        </figure>
        <figure class="avatar-md">
            <img class="img-responsive img-rounded" src="../assets/avatar3.svg" alt="avatar" />
        </figure>
        <figure class="avatar-xl">
            <img class="img-responsive img-rounded" src="../assets/avatar4.svg" alt="avatar" />
        </figure>
        <!-- Avatar with text -->
        <figure class="text-avatar text-xl">KB</figure>
        <figure class="text-avatar text-md">KB</figure>
        <figure class="text-avatar text-sm">KB</figure>
        <figure class="text-avatar">KB</figure>
</body>
</html>
