.avatar {
  width: 3rem;
  height: 3rem;
  margin: 0.5rem;
  border-radius: 50%;
  background-color: var(--primary-bgcolor);
}
.avatar-sm {
  width: 4rem;
  height: 4rem;
}
.avatar-md {
  width: 5rem;
  height: 5rem;
}
.avatar-xl {
  width: 6rem;
  height: 6rem;
}
.avatar-text {
  padding: 0.25rem;
  line-height: 2.5;
  text-align: center;
  font-size: 1rem;
  font-weight: 600;
}
.text-sm {
  font-size: 1.25rem;
  line-height: 3;
}
.text-md {
  font-size: 1.5rem;
  line-height: 3;
}
.text-xl {
  font-size: 1.85rem;
  line-height: 3;
}
