<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="author" content="Khyati Baria" />
    <meta name="description" content="PixelUI - A CSS Component Library for building Clean, Modern UI Interfaces" />
    <title>Ratings</title>
    <link href="./ratings.css" rel="stylesheet" type="text/css" />
    <link href="../../docs-css/variable.css" rel="stylesheet" type="text/css" />
    <script src="https://kit.fontawesome.com/99b4ab4b7a.js" crossorigin="anonymous"></script>
</head>

<body>
    <form>
        <button class="rating-btn">
            <i class="fas fa-star rating-star-icon star-active"></i>
        </button>
        <button class="rating-btn">
            <i class="fas fa-star rating-star-icon star-active"></i>
        </button>
        <button class="rating-btn">
            <i class="fas fa-star rating-star-icon star-active"></i>
        </button>
        <button class="rating-btn">
            <i class="fas fa-star rating-star-icon star-inactive"></i>
        </button>
        <button class="rating-btn">
            <i class="fas fa-star rating-star-icon star-inactive"></i>
        </button>
    </form>
</body>
</html>