.toast {
  width: max-content;
  background-color: var(--secondary-color);
  padding: 0.5rem;
  border-radius: var(--radius);
  font-size: 1.25rem;
}
.toast-demo {
  display: inline-block;
  outline: none;
  background-color: var(--warning-color);
  margin: var(--margin-2);
  padding: 0.5rem 1rem;
  color: var(--white);
  font-size: var(--fontSize);
  border: none;
  border-radius: var(--radius);
  cursor: pointer;
}

#toast-closeable {
  position: absolute;
  top: 1rem;
  right: 1rem;
  z-index: 30;
  background-color: var(--success-color);
}
.visibility {
  display: none;
}
