.toast-container {
  position: absolute;
  right: 0;
  top: 0;
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  width: 35%;
  max-width: 70%;
  margin: 1rem;
  padding: 0.5rem;
  background-color: var(--secondary-color);
  border-radius: var(--radius);
}
.toast-message {
  font-size: 1rem;
  color: var(--white);
}
.toast-close-button {
  display: inline-block;
  outline: none;
  border: none;
  font-size: 1rem;
  background: transparent;
  cursor: pointer;
}

.visibility {
  display: none;
}
