@import url("https://fonts.googleapis.com/css2?family=Arvo&display=swap");
@import url("./alert/alert.css");
@import url("./avatar/avatar.css");
@import url("./image/image.css");
@import url("./badge/badge.css");
@import url("./button/button.css");
@import url("./navigation/navigation.css");
@import url("./input/input.css");
@import url("./card/card.css");
/* @import url("./typography/typography.css"); */

/* @import url("./modal/modal.css");

@import url("./toast/toast.css");  */

html {
  box-sizing: border-box;
  font-family: "Arvo", serif;
}

* {
  margin: 0;
  padding: 0;
}

body::-webkit-scrollbar {
  width: 0.5rem;
  background-color: var(--grey);
}

body::-webkit-scrollbar-thumb {
  background-color: var(--primary-color);
  border-radius: var(--radius);
}
