.navigation-container {
  display: flex;
  flex-direction: row;
  position: sticky;
  justify-content: space-around;
  align-items: center;
  padding: 0.75rem;
  background-color: var(--primary-color);
  max-width: 100%;
  min-height: 6vh;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16);
}

.navigation-logo-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 20%;
}

.navigation-brand {
  font-size: 1.5rem;
  margin-left: 0.75rem;
  font-weight: 600;
  color: var(--white);
}
.navigation-brand > a {
  text-decoration: none;
}

.navigation-search {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: 2px solid var(--white);
  border-radius: var(--radius);
  width: 40%;
  height: 2rem;
  margin-right: 1rem;
}

.search-icon {
  margin: 0.5rem;
  color: var(--white);
}

.navigation-search > input {
  background-color: transparent;
  outline: none;
  border: none;
  width: 100%;
}

.navigation-search > input:focus {
  outline: none;
}

.navigation-search > input::placeholder {
  color: var(--white);
}
.navigation-links-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 20%;
}

.navigation-link {
  text-decoration: none;
  cursor: pointer;
  color: var(--white);
  font-size: var(--fontSize-2);
}

.navigation-link-icon {
  font-size: 1.5rem;
}
.navigation-link-icon:hover {
  color: var(--warning-color);
}

@media only screen and (max-width: 950px) {
  .navigation-logo,
  .navigation-brand {
    font-size: 1rem;
  }
}
@media only screen and (max-width: 767px) {
  .navigation-brand {
    display: none;
  }
}
@media only screen and (max-width: 450px) {
  .navigation-container {
    justify-content: space-between;
  }
  .navigation-search {
    display: none;
  }
  .navigation-links-container {
    width: 30%;
  }
}
