<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="author" content="Khyati Baria" />
    <meta
      name="description"
      content="PixelUI - A CSS Component Library for building Clean, Modern UI Interfaces"
    />
    <title>Navigation Component</title>
    <link href="./navigation.css" rel="stylesheet" type="text/css" />
    <link href="../../docs-css/variable.css" rel="stylesheet" type="text/css" />
    <script
      src="https://kit.fontawesome.com/99b4ab4b7a.js"
      crossorigin="anonymous"
    ></script>
  </head>

  <body>
    <nav class="navigation-container">
      <div class="navigation-logo-container">
        <div class="navigation-logo">
          <a><img src="../assets/book-logo.svg" /></a>
        </div>
        <div class="navigation-brand">Book House</div>
      </div>
      <div class="navigation-search">
        <label class="search-icon"><i class="fas fa-search"></i></label>
        <input placeholder="Search here" />
      </div>
      <div class="navigation-links-container">
        <a href="#" class="navigation-link" title="Profile">
          <div class="navigation-link-icon">
            <i class="fas fa-user" aria-hidden="true"></i>
          </div>
        </a>
        <a href="#" class="navigation-link" title="Wishlist">
          <div class="navigation-link-icon">
            <i class="fas fa-heart" aria-hidden="true"></i>
          </div>
        </a>
        <a href="#" class="navigation-link" title="Add to Cart">
          <div class="navigation-link-icon">
            <i class="fas fa-cart-plus" aria-hidden="true"></i>
          </div>
        </a>
      </div>
    </nav>
  </body>
</html>
