.navigation {
  display: block;
  position: sticky;
  background-color: var(--primary-color);
  width: 100%;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16);
}

.navigation-bar {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  padding: 1.25rem;
}
.navigation-logo {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-grow: 1;
  color: var(--white);
  margin-left: 1.5rem;
}
.navigation-logo > img {
  height: 4rem;
  width: 4rem;
}
.navigation-logo > h2 {
  margin-left: 1rem;
}

.navigation-search {
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* background-color: #d4d4d4; */
  border: 2px solid var(--white);
  border-radius: var(--radius);
  width: 18rem;
  height: 2rem;
}

.search-icon {
  margin: 0.5rem;
  color: var(--white);
}
.navigation-search > input {
  background-color: transparent;
  outline: none;
  border: none;
  width: 100%;
}

.navigation-search > input:focus {
  outline: none;
}

.navigation-search > input::placeholder {
  color: var(--white);
}
.inline-links > li {
  display: inline-block;
  list-style-type: none;
  margin: 0.25rem 0.75rem;
}
.icon-links {
  text-decoration: none;
  cursor: pointer;
  color: var(--white);
  font-size: var(--fontSize-2);
}

.nav-img {
  width: 2rem;
  height: 2rem;
}