<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="author" content="Khyati Baria" />
    <meta name="description" content="PixelUI - A CSS Component Library for building Clean, Modern UI Interfaces" />
    <title>Navigation Component</title>
    <link href="./navigation.css" rel="stylesheet" type="text/css" />
    <link href="../variables.css" rel="stylesheet" type="text/css" />
    <script src="https://kit.fontawesome.com/99b4ab4b7a.js" crossorigin="anonymous"></script>
</head>

<body>
    <nav class="nav">
        <div class="navbar">
            <div class="logo">
                <img src="./logo.svg" />
                <h2>Brand</h2>
            </div>
            <div class="search">
                <span class="search-icon"><i class="fas fa-search"></i></span>
                <input placeholder="Search here" />
            </div>
            <div class="nav-links">
                <ul class="inline-links">
                    <li>
                        <a href="#" class="icon-links" title="Profile">
                            <i class="fas fa-user"></i>
                        </a>
                    </li>
                    <li>
                        <a href="#" class="icon-links" title="Wishlist">
                            <i class="fas fa-heart"></i>
                        </a>
                    </li>
                    <li>
                        <a href="#" class="icon-links" title="Add to Cart">
                            <i class="fas fa-cart-plus"></i>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
</body>
</html>