.badge {
  position: relative;
}
.badge-count {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  font-weight: 600;
  font-size: 0.75rem;
  line-height: 1.5;
  height: 0.85rem;
  width: 0.85rem;
  background-color: inherit;
  border-radius: 50%;
  z-index: 2;
}
.badge-left {
  left: 0;
}
.badge-right {
  right: 0;
}
.badge-top {
  top: 0;
}
.badge-bottom {
  bottom: 0;
}
.icon-badge {
  max-width: 2rem;
  max-height: 2rem;
}
.badge-sm {
  padding: 0.2rem;
  line-height: 2;
}
.badge-md {
  font-size: 0.85rem;
  padding: 0.25rem;
  line-height: 3;
}
.badge-xl {
  font-size: 1rem;
  padding: 0.35rem;
  line-height: 5;
}
.primary {
  background-color: var(--primary-color);
}
.secondary {
  background-color: var(--secondary-color);
}
.danger {
  background-color: var(--danger-color);
}
.success {
  background-color: var(--success-color);
}
.warning {
  background-color: var(--warning-color);
}
.grey {
  background-color: var(--grey);
}
