.footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: var(--primary-color);
  padding: 1.5rem;
  margin-top: 5rem;
  font-weight: 600;
  font-size: 1.25rem;
  color: var(--white);
}
.footer-header {
  font-size: 1.5rem;
  font-weight: 600;
}
.footer > ul > li {
  display: block;
}
.footer-list {
  display: flex;
  justify-content: space-between;
  margin: 0.75rem;
  padding: 1rem;
  width: 30%;
}
.footer-link {
  text-decoration: none;
  font-size: 1.75rem;
  color: var(--white);
}

@media only screen and (max-width: 500px) {
  .footer-header {
    font-size: 1.25rem;
  }
  .footer-list {
    width: 40%;
  }
}
