.grid-container {
  display: grid;
  grid-template-areas:
    "nav"
    "main"
    "footer";
}

/* _______________________________________________Main___________________________________________________ */
.main {
  grid-area: main;
}
.hero {
  margin: 0 auto;
  max-width: 50%;
  min-height: 30vh;
  color: #282828;
  padding: 5rem 2rem;
  text-align: center;
}
.hero-head {
  font-size: 3rem;
  font-weight: 600;
}
.hero-subhead {
  font-size: 2rem;
  line-height: 2;
  min-height: 3rem;
  color: var(--primary-color);
}

.hero-body,
.docs-head {
  font-size: 1.5rem;
  line-height: 1.5;
}

.hero-btn {
  display: inline-block;
  outline: none;
  background-color: var(--primary-color);
  margin: 3rem;
  padding: 0.75rem;
  color: var(--white);
  font-size: 1rem;
  font-weight: 600;
  border: none;
  border-radius: var(--radius);
  cursor: pointer;
}
.docs {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: flex-start;
  margin: 0 auto;
  max-width: 80%;
  min-height: 60vh;
}

.docs-card {
  margin: 1.5rem;
  padding: 1.5rem;
  background-color: var(--white);
  border-radius: 0.25rem;
  box-shadow: 8px 8px 10px #7f8389;
}
.docs-text {
  line-height: 1.5;
  /* max-width: 50%; */
}

.docs-btn {
  display: inline-block;
  outline: none;
  margin-top: 1rem;
  padding: 0.5rem 0.75rem;
  font-size: 1rem;
  font-weight: 600;
  cursor: pointer;
  color: var(--primary-color);
  background-color: var(--white);
  border-radius: 0.5rem;
  border: solid 3px var(--primary-color);
}
.docs-btn:hover {
  color: var(--white);
  background-color: var(--primary-color);
}

.docs-link {
  /* width: 35rem; */
  margin: 1.5rem;
  padding: 1.5rem;
  background-color: var(--white);
  border-radius: 0.25rem;
  box-shadow: 8px 8px 10px #7f8389;
}
