.sidebar {
  grid-area: sidebar;
  position: sticky;
  top: 0;
  height: 100vh;
  background-color: var(--primary-color);
  height: 100vh;
  overflow-y: scroll;
}
.sidebar-header {
  position: sticky;
  top: 0;
  padding: 0.5rem;
  margin: 0.5rem;
  font-size: 1.5rem;
  font-family: 600;
  color: var(--white);
}
.sidebar-links {
  display: flex;
  flex-direction: column;
  list-style-type: none;
}
.sidebar-links > li > a {
  display: inline-block;
  text-decoration: none;
  color: var(--white);
}

.sidebar-links > li {
  padding: 0.5rem;
  margin: 0.25rem 1rem;
  font-size: 1.25rem;
}
.sidebar-links > li:hover {
  background-color: #e7e7e7;
}

div#side-bar::-webkit-scrollbar {
  width: 0.5rem;
  background-color: gray;
}

div#side-bar::-webkit-scrollbar-thumb {
  background-color: hotpink;
  border-radius: var(--radius);
}
