@import url("https://fonts.googleapis.com/css2?family=Arvo&display=swap");
html {
  box-sizing: border-box;
  font-family: "Arvo", serif;
}

* {
  margin: 0;
  padding: 0;
}

body::-webkit-scrollbar {
  width: 0.5rem;
  background-color: var(--grey);
}

body::-webkit-scrollbar-thumb {
  background-color: var(--primary-color);
  border-radius: var(--radius);
}

:root {
  --primary-color: #abb6ee;
  --secondary-color: #dc95dd;
  --success-color: #9fe4b1;
  --danger-color: #faafa6;
  --warning-color: #f8e785;
  --primary-bgcolor: #c0c8f2;
  --secondary-bgcolor: #e2a8e3;
  --success-bgcolor: #b3eac1;
  --danger-bgcolor: #fbc5be;
  --warning-bgcolor: #f3cc89;
  --light-bgcolor: #f0ebf4;
  --white: #ffffff;
  --black: #000000;
  --grey: #d3d3d3;
  --p-0: 0px;
  --m-0: 0px;
  --p-1: 0.25rem;
  --m-1: 0.25rem;
  --p-2: 0.5rem;
  --m-2: 0.5rem;
  --p-3: 0.75rem;
  --m-3: 0.75rem;
  --p-4: 1rem;
  --m-4: 1rem;
  --p-5: 1.25rem;
  --m-5: 1.25rem;
  --p-6: 1.5rem;
  --m-6: 1.5rem;
  --p-7: 1.75rem;
  --m-7: 1.75rem;
  --p-8: 2rem;
  --m-8: 2rem;
  --fontSize-0: 0.5rem;
  --fontSize-1: 1rem;
  --fontSize-2: 1.25rem;
  --fontSize-3: 1.5rem;
  --fontSize-4: 1.75rem;
  --fontSize-5: 2rem;
  --radius: 0.25rem;
}
