<html>
<head>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="author" content="Khyati Baria" />
    <meta name="description" content="PixelUI - A CSS Component Library for building Clean, Modern UI Interfaces" />
    <title>Modal Component</title>
    <link rel="stylesheet" type="text/css" href="./modal.css" />
    <link rel="stylesheet" type="text/css" href="../../docs-css/variable.css" />
    <script src="https://kit.fontawesome.com/99b4ab4b7a.js" crossorigin="anonymous"></script>
</head>
<body>
    <dialog class="modal" open>
        <div class="modalcloseIcon">
            <i class="fas fa-times"></i>
        </div>
        <h3>Shop with exclusive Discount Offers</h3>
        <p>
            Buy and 3 novels at just 999/-
            For Limited Period Only.
        </p>
        <button class="modal-closeBtn">Close</button>
        <button class="modal-actionBtn">Shop Now</button>
    </dialog>

    <!-- Opening Modal -->
    <button class="modal-actionBtn" id="modalOpenBtn">Open</button>
    <dialog class="modal" id="modalCloseble">
        <div class="modalcloseIcon" id="iconClose">
            <i class="fas fa-times"></i>
        </div>
        <h3>Shop with exclusive Discount Offers</h3>
        <p>
            Buy and 3 novels at just 999/-
            For Limited Period Only.
        </p>
        <button class="modal-closeBtn" id="modalBtn">Close</button>
        <button class="modal-actionBtn" id="modalActionBtn">Shop Now</button>
    </dialog>
    <script src="./modal.js"></script>
</body>
</html>