.modal {
  position: relative;
  background-color: var(--secondary-bgcolor);
  font-size: 1.25rem;
  margin: 0.5rem;
  padding: 2rem;
  text-align: center;
  border: none;
  border-radius: var(--radius);
  max-width: 35rem;
}
.modal-actionBtn {
  display: inline-block;
  outline: none;
  background-color: var(--warning-color);
  margin: 1rem;
  padding: 0.5rem 0.75rem;
  color: var(--white);
  font-size: var(--fontSize);
  border: none;
  border-radius: var(--radius);
  cursor: pointer;
}

.modal-closeBtn {
  display: inline-block;
  outline: none;
  background-color: var(--danger-color);
  margin: 1rem;
  padding: 0.5rem 0.75rem;
  color: var(--white);
  font-size: var(--fontSize);
  border: none;
  border-radius: var(--radius);
  cursor: pointer;
}
#iconClose {
  position: absolute;
  top: 1rem;
  right: 1rem;
}
.modalcloseIcon {
  position: absolute;
  top: 1rem;
  right: 1rem;
}

.bg-danger {
  background-color: var(--danger-color);
}

/* #modalBtn {
  position: absolute;
  margin-top: 18rem;
} */
/* #modalCloseble {
  position: absolute;
  z-index: 15;
  margin-top: 22rem;
} */
