.container {
  width: 50rem;
}
.alert {
  background-color: var(--primary-bgcolor);
  color: var(--primary-color);
  padding: var(--padding-md);
  margin: var(--margin-md);
  font-size: var(--fontSize);
  border-radius: var(--radius);
}
span {
  margin: 1rem;
}
.alert-closeble {
  background-color: var(--primary-bgcolor);
  color: var(--primary-color);
  padding: var(--padding-md);
  margin: var(--margin-md);
  font-size: var(--fontSize);
  border-radius: var(--radius);
}
.secondary {
  color: var(--secondary-color);
  background-color: var(--secondary-bgcolor);
}

.success {
  color: var(--success-color);
  background-color: var(--success-bgcolor);
}
.danger {
  color: var(--danger-color);
  background-color: var(--danger-bgcolor);
}
.warning {
  color: var(--warning-color);
  background-color: var(--warning-bgcolor);
}

.close {
  cursor: pointer;
  font-size: var(--fontSize);
  float: right;
  background-color: transparent;
  border: none;
}

.alert > a {
  color: var(--danger-color);
}

.alert-closeble > a {
  color: var(--danger-color);
}
