:root {
  --primary-color: #36a5ff;
  --secondary-color: #6b39ff;
  --success-color: #42ff85;
  --danger-color: #ef4b4b;
  --warning-color: #f5b314;
  --primary-bgcolor: #b5deff;
  --secondary-bgcolor: #cab8ff;
  --success-bgcolor: #c1ffd7;
  --danger-bgcolor: #f9c0c0;
  --warning-bgcolor: #fcffa6;
  --padding-md: 1rem;
  --margin-md: 1rem;
  --fontSize: 1rem;
  --radius: 0.25rem;
}

.wrapper {
  width: 50rem;
}
.alert {
  background-color: var(--primary-bgcolor);
  color: var(--primary-color);
  /* width: max-content; */
  padding: var(--padding-md);
  margin: var(--margin-md);
  font-size: var(--fontSize);
  border-radius: var(--radius);
}
span {
  margin: 1rem;
}
.alert-closeble {
  background-color: var(--primary-bgcolor);
  color: var(--primary-color);
  padding: var(--padding-md);
  margin: var(--margin-md);
  font-size: var(--fontSize);
  border-radius: var(--radius);
}
.secondary {
  color: var(--secondary-color);
  background-color: var(--secondary-bgcolor);
}

.success {
  color: var(--success-color);
  background-color: var(--success-bgcolor);
}
.danger {
  color: var(--danger-color);
  background-color: var(--danger-bgcolor);
}
.warning {
  color: var(--warning-color);
  background-color: var(--warning-bgcolor);
}

.close {
  cursor: pointer;
  font-size: var(--fontSize);
  float: right;
  background-color: transparent;
  border: none;
}

.alert > a {
  color: var(--danger-color);
}

.alert-closeble > a {
  color: var(--danger-color);
}
