<html>
<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <meta name="author" content="Khyati Baria" />
  <meta name="description" content="PixelUI - A CSS Component Library for building Clean, Modern UI Interfaces" />
   <title>Alert Component</title>
  <link rel="stylesheet" type="text/css" href="alert.css" />
  <link rel="stylesheet" type="text/css" href="../../docs-css/variable.css" />
  <script src="https://kit.fontawesome.com/99b4ab4b7a.js" crossorigin="anonymous"></script>
</head>

<body>
  <!-- Standard Alerts -->
  
    <div class="alert">
      <i class="fas fa-exclamation"></i><span>A Simple alert with icon!!!!</span>
    </div>
    <div class="alert alert-success">
      <i class="fas fa-check-circle"></i><span>A Success alert message!!!!</span>
    </div>
    <div class="alert alert-danger">
      <i class="fas fa-exclamation-circle"></i><span>A Danger alert message!!!!</span>
    </div>
    <div class="alert alert-warning">
      <i class="fas fa-exclamation-triangle"></i><span>A Warning alert message!!!!</span>
    </div>
    <div class="alert alert-secondary">
      <i class="fas fa-exclamation"></i><span>An Alert with a text link-<a href="#">check it out!</a></span>
    </div>

  <!-- Alerts with Close Button -->
    <div class="alert-closeble">
      <i class="fas fa-exclamation"></i><span>A Simple alert with icon!!!!</span><button class="close">
        <i class="far fa-times-circle"></i>
      </button>
    </div>
    <div class="alert-closeble alert-success">
      <i class="fas fa-check-circle"></i><span>A Success alert message!!!!</span><button class="close">
        <i class="far fa-times-circle"></i>
      </button>
    </div>
    <div class="alert-closeble alert-danger">
      <i class="fas fa-exclamation-circle"></i><span>A Danger alert message!!!!</span><button class="close">
        <i class="far fa-times-circle"></i>
      </button>
    </div>
    <div class="alert-closeble alert-warning">
      <i class="fas fa-exclamation-triangle"></i><span>A Warning alert message!!!!</span><button class="close">
        <i class="far fa-times-circle"></i>
      </button>
    </div>
    <div class="alert-closeble alert-secondary">
      <i class="fas fa-exclamation"></i><span>An Alert with a text link-<a href="#">check it out!</a></span><button
        class="close">
        <i class="far fa-times-circle"></i>
      </button>
    </div>
  </div>
  <script src="./alert.js"></script>
</body>
</html>
