<html>
<head>
  <meta charset="UTF-8" />
   <meta http-equiv="X-UA-Compatible" content="IE=edge">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <title>Alert Component</title>
  <link rel="stylesheet" type="text/css" href="alert.css" />
  <script src="https://kit.fontawesome.com/99b4ab4b7a.js" crossorigin="anonymous"></script>
</head>

<body>
  <!-- Standard Alerts -->
  <div class="wrapper">
    <div class="alert">
      <i class="fas fa-exclamation"></i><span>A Simple alert with icon!!!!</span>
    </div>
    <div class="alert success">
      <i class="fas fa-check-circle"></i><span>A Success alert message!!!!</span>
    </div>
    <div class="alert danger">
      <i class="fas fa-exclamation-circle"></i><span>A Danger alert message!!!!</span>
    </div>
    <div class="alert warning">
      <i class="fas fa-exclamation-triangle"></i><span>A Warning alert message!!!!</span>
    </div>
    <div class="alert secondary">
      <i class="fas fa-exclamation"></i><span>An Alert with a text link-<a href="#">check it out!</a></span>
    </div>
  </div>

  <!-- Closeble Alerts -->
  <div class="wrapper">
    <div class="alert-closeble">
      <i class="fas fa-exclamation"></i><span>A Simple alert with icon!!!!</span><button class="close">
        <i class="far fa-times-circle"></i>
      </button>
    </div>
    <div class="alert-closeble success">
      <i class="fas fa-check-circle"></i><span>A Success alert message!!!!</span><button class="close">
        <i class="far fa-times-circle"></i>
      </button>
    </div>
    <div class="alert-closeble danger">
      <i class="fas fa-exclamation-circle"></i><span>A Danger alert message!!!!</span><button class="close">
        <i class="far fa-times-circle"></i>
      </button>
    </div>
    <div class="alert-closeble warning">
      <i class="fas fa-exclamation-triangle"></i><span>A Warning alert message!!!!</span><button class="close">
        <i class="far fa-times-circle"></i>
      </button>
    </div>
    <div class="alert-closeble secondary">
      <i class="fas fa-exclamation"></i><span>An Alert with a text link-<a href="#">check it out!</a></span><button
        class="close">
        <i class="far fa-times-circle"></i>
      </button>
    </div>
  </div>
  <script src="./alert.js"></script>
</body>
</html>
