<html>
<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <meta name="author" content="Khyati Baria" />
  <meta name="description" content="PixelUI - A CSS Component Library for building Clean, Modern UI Interfaces" />
   <title>Alert Component</title>
  <link rel="stylesheet" type="text/css" href="alert.css" />
  <link rel="stylesheet" type="text/css" href="../../docs-css/variable.css" />
  <script src="https://kit.fontawesome.com/99b4ab4b7a.js" crossorigin="anonymous"></script>
</head>

<body>
  <!-- Standard Alerts -->
  
    <div class="alert">
      <i class="fas fa-exclamation"></i><span class="alert-text">A Simple alert with icon!!!!</span>
    </div>
    <div class="alert alert-success">
      <i class="fas fa-check-circle"></i><span class="alert-text">A Success alert message!!!!</span>
    </div>
    <div class="alert alert-danger">
      <i class="fas fa-exclamation-circle"></i><span class="alert-text">A Danger alert message!!!!</span>
    </div>
    <div class="alert alert-warning">
      <i class="fas fa-exclamation-triangle"></i><span class="alert-text">A Warning alert message!!!!</span>
    </div>

  <!-- Alerts with Close Button -->
    <div class=" alert alert-closeble">
      <div><i class="fas fa-exclamation"></i><span class="alert-text">A Simple alert with icon!!!!</span></div>
      <div>
        <button class="alert-close">
          <i class="far fa-times-circle"></i>
        </button>
      </div>
    </div>
    <div class="alert alert-closeble alert-success">
      <div><i class="fas fa-check-circle"></i><span class="alert-text">A Success alert message!!!!</span></div>
      <div>
        <button class="alert-close">
          <i class="far fa-times-circle"></i>
        </button>
      </div>
    </div>
    <div class="alert alert-closeble alert-danger">
      <div><i class="fas fa-exclamation-circle"></i><span class="alert-text">A Danger alert message!!!!</span></div>
      <div>
        <button class="alert-close">
          <i class="far fa-times-circle"></i>
        </button>
      </div>
    </div>
    <div class="alert alert-closeble alert-warning">
      <div> <i class="fas fa-exclamation-triangle"></i><span class="alert-text">A Warning alert message!!!!</span></div>
      <div>     
        <button class="alert-close">
        <i class="far fa-times-circle"></i>
      </button>
    </div>
    </div>
  </div>
  <script src="./alert.js"></script>
</body>
</html>
