.alert {
  background-color: var(--primary-bgcolor);
  padding: var(--p-4);
  margin: var(--p-4);
  font-size: var(--fontSize);
  border-radius: var(--radius);
}
.alert-text {
  margin: 0 0.5rem;
}
.alert-closeble {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.alert-close {
  cursor: pointer;
  font-size: var(--fontSize);
  background-color: transparent;
  border: none;
}
.alert-secondary {
  background-color: var(--secondary-bgcolor);
}
.alert-success {
  background-color: var(--success-bgcolor);
}
.alert-danger {
  background-color: var(--danger-bgcolor);
}
.alert-warning {
  background-color: var(--warning-bgcolor);
}
